.inputTodo {
    margin: 0.5rem;
    padding: 0.4rem;
    background: #f8f8f814;
    border-radius: 0.3rem;
    outline: none;
    color: white;
    font-size: 1rem;
}

.button {
    outline: none;
    padding: 8px;
    font-size: 15px;
    border: 0px solid;
    border-radius: 5px;
    color: black;
    border-radius: 0.2rem;
    cursor: pointer;
  }
.button:hover {
  background: rgb(117, 117, 118);
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.32;
}
.button[disabled]{
  opacity: 0.3;
}